@import url('https://fonts.googleapis.com/css?family=Dosis|Wendy+One');

/* font-family: 'Wendy One', sans-serif;
font-family: 'Dosis', sans-serif; */

body {
    height: 100%;
    width: 100%;
    margin: 0;
    border: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 1);
}
ul, li {
    list-style-type: none;
    text-align: left;
}

div#view {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 30% 10% 60%;
    height: 100vh;
    width: 100vw;
}

/* left sidebar properties */
div#title {
    height: 100%;
    width: 100%;
    grid-row: 1;
    grid-column: 1;
}
p.gameTitle {
    color: pink;
    font-family: 'Wendy One', sans-serif;
    font-size: 40pt;
    text-align: center;
    margin: 30px auto;
}
div#message {
    height: 100%;
    width: 100%;
    grid-row: 3;
    grid-column: 1;
}
.gameMessage {
    font-size: 14pt;
    color: white;
    font-family: 'Dosis', sans-serif;
    margin: 100px auto;
}
div#timer {
    height: 100%;
    width: 100%;
    grid-row: 2;
    grid-column: 1;
}
.gameTimer {
    font-size: 22pt;
    color: royalblue;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    margin: 10px auto;
}

/* Grid and tile properties */
#display {
    height: 100%;
    width: 100%;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 2;

}
#gameGrid {
    height: 700px;
    width: 960px;
    /* border: 4px solid pink; */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px auto 10px auto;
}

.tiles {
    height: 130px;
    width: 230px;
    border: 2px solid pink;
    background-color: rgba(0, 0, 0, 1);
}
.tiles:hover {
    border: 2px solid royalblue;
}

img {
    height: 100%;
    width: 100%;
}
img.imgOff {
    opacity: 0;
}


.hide {
    animation: reset 0.6s linear 0.15s forwards;
    transition: 0.15s;
}
@keyframes reset {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(180deg);
    }
}

.show {
    animation: reveal 0.6s linear 0.15s forwards;
    transition: 0.15s;
}
@keyframes reveal {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(180deg);
        opacity: 1;
    }
}

.matched {
    /* animation: match 1.2s linear 0.5s forwards; */
    opacity: 1;
}
/* @keyframes match {
    from {
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(360deg);
    }
} */


/* Start Screen Modals */
.startScreen {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.85);
}
.startScreenContent {
    margin: 50px auto 50px auto;
    width: 85%;
    height: 85%;
    background-color: rgba(255, 255, 255, 1);
    border: 10px solid pink;
}
.modalText {
    color: black;
    font-size: 28pt;
    text-align: center;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
    margin: 50px auto;
}
#hideModal {
    height: 70px;
    width: 190px;
    text-align: center;
    font-size: 22pt;
    font-family: 'Wendy One', sans-serif;
    border: 2px solid pink;
}
#hideModal:focus {
    outline: 0;
}
#hideModal:hover {
    background-color: pink;
    border: 6px solid black;
    transition: 1s;
}

/* Lose Screen Modals */
.loseScreen {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.85);
}
.loseScreenContent {
    margin: 50px auto 50px auto;
    width: 85%;
    height: 85%;
    background-color: rgba(255, 255, 255, 1);
    border: 10px solid pink;
}
.loseModalText {
    color: black;
    font-size: 28pt;
    text-align: center;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
    margin: 50px auto;
}
#hideLoseModal {
    height: 70px;
    width: 190px;
    text-align: center;
    font-size: 22pt;
    font-family: 'Wendy One', sans-serif;
    border: 2px solid pink;
}
#hideLoseModal:focus {
    outline: 0;
}
#hideLoseModal:hover {
    background-color: pink;
    border: 6px solid black;
    transition: 1s;
}

/* Lose Screen Modals */
.winScreen {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.85);
}
.winScreenContent {
    margin: 50px auto 50px auto;
    width: 85%;
    height: 85%;
    background-color: rgba(255, 255, 255, 1);
    border: 10px solid pink;
}
.winModalText {
    color: black;
    font-size: 28pt;
    text-align: center;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
    margin: 50px auto;
}
#hideWinModal {
    height: 70px;
    width: 190px;
    text-align: center;
    font-size: 22pt;
    font-family: 'Wendy One', sans-serif;
    border: 2px solid pink;
}
#hideWinModal:focus {
    outline: 0;
}
#hideWinModal:hover {
    background-color: pink;
    border: 6px solid black;
    transition: 1s;
}