*, body {
    height: 100%;
    width: 100%;
    margin: 0;
    border: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 1);
}

#gameGrid {
    height: 530px;
    width: 810px;
    border: 10px solid pink;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px auto;
}

.tiles {
    height: 120px;
    width: 150px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 1);
}
.tiles:hover {
    border: 2px solid royalblue;
}

img {
    height: 120px;
    width: 150px;
}
img.imgOff {
    opacity: 0;
}

.hide {
    animation: reset 0.6s linear 0.15s forwards;
    transition: 0.15s;
}
@keyframes reset {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(180deg);
    }
}

.show {
    animation: reveal 0.6s linear 0.15s forwards;
    transition: 0.15s;
}
@keyframes reveal {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(180deg);
        opacity: 1;
    }
}

.matched {
    border: 2px solid red;
    transition: 1s;
}


